#footer
{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 30px 0 20px;
    margin-top: 30px;
}

#footer h3
{
    color: #fff;
    margin-bottom: 10px;
}

#footerRow 
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#footerColumn2
{
    text-align: center;
}

#footerColumn2 img
{
    width: 180px;
}

#footerColumn1, #footerColumn13
{
    flex-basis: 12%;
    text-align: center;
}

#followUs li
{
    list-style: none;
    cursor: pointer;
}

#appLogo
{
    margin-top: 20px;
}

#appLogo img
{
    width: 140px;
    cursor: pointer;
}

#copyright 
{
    text-align: center;
}
